<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjm.postgers.dao.TbRoleMapper">
  <resultMap id="BaseResultMap" type="com.wjm.postgers.domain.TbRole">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <select id="getId" resultType="int" >
    select nextval('tb_role_id_seq')
  </select>
</mapper>